@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

  .sprite-img {                                                                             
    width: 64px;                                                                            
    height: 64px;                                                                           
    object-fit: none;                                                                       
    object-position: 0 0;      
  }         
